/* 
    General Styles
*/
body {
background-image: url('../img/stars.gif');
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed; 
}
.Carousell{
background-color: lightcyan;
}
